*

!/config/
!/.gitignore
!/README.md

!/config/disabled_plugins.txt

!/config/codestyles/
!/config/codestyles/**

!/config/fileTemplates/
!/config/fileTemplates/**

!/config/inspection/
!/config/inspection/**

!/config/keymaps/
!/config/keymaps/**

!/config/options/
!/config/options/code.style.schemes
!/config/options/code.style.schemes.xml
!/config/options/colors.scheme.xml
!/config/options/debugger.xml
!/config/options/editor.xml
!/config/options/editor.codeinsight.xml
!/config/options/filetypes.xml
!/config/options/git.xml
!/config/options/ide.general.xml
!/config/options/ignore.xml
!/config/options/images.support.xml
!/config/options/javaeeExternalResources.xml
!/config/options/jdk.table.xml
!/config/options/keymap.xml
!/config/options/laf.xml
!/config/options/markdown.xml
!/config/options/mavenVersion.xml
!/config/options/notifications.xml
!/config/options/project.default.xml
!/config/options/ui.lnf.xml

!/config/templates/
!/config/templates/**
