*

!/config/
!/.gitignore
!/README.md

!/config/disabled_plugins.txt

!/config/codestyles/
!/config/codestyles/Akihiro Kondo.xml

!/config/keymaps/
!/config/keymaps/Akihiro Kondo.xml

!/config/options/
!/config/options/code.style.schemes
!/config/options/code.style.schemes.xml
!/config/options/colors.scheme.xml
!/config/options/editor.xml
!/config/options/editor.codeinsight.xml
!/config/options/git.xml
!/config/options/ide.general.xml
!/config/options/jdk.table.xml
!/config/options/keymap.xml
!/config/options/laf.xml
!/config/options/mavenVersion.xml
!/config/options/project.default.xml
